@media screen and (min-width: 768px) {
    .navigation-bar {
        width: 100%;  /* i'm assuming full width */
        height: 80px; /* change it to desired width */
        background-color:  #315637; /* change to desired color */
    
    }
    .logo {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        height: 65px;
        margin-right: 20px;
        margin-top: 10px;    /* if you want it vertically middle of the navbar. */
    }
    .navigation-bar > a {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        height: 80px;        /* if you want it to take the full height of the bar */
        line-height: 80px;    /* if you want it vertically middle of the navbar */
    }
  }

  @media screen and (max-width: 767px) {
    .navigation-bar {
        width: 100%;  
        height: 80px; 
        background-color: #315637; 
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 250px;
        height: 65px;
        margin: 0 auto; 
        padding-left: 0px;
    }
    
    .navigation-bar > a {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        height: 80px;        
        line-height: 80px;   
    }
  }
 
  
  
  
