<div class="texto">
    <h1>
        Contactos
    </h1>
</div>
<div class="principal">
    <div>
        <img src="../../assets/img/logo-contactos/atencion.png" alt="">
        <h3>
            Email: sare@moroleon.gob.mx <br>
            Web: www.moroleon.gob.mx
        </h3>
    </div>
    <div>
        <img src="../../assets/img/logo-contactos/lugar.png" alt="">
        <h4>
            C. Hidalgo 30, CP 38800 <br>
            Moroleón, Gto.
        </h4>
    </div>
    <div>
        <img src="../../assets/img/logo-contactos/telefono.png" alt="">
        <h4>
            Tel: 445 457 00 01 EXT. 145 <br>
                445 458 92 40 <br>
            Lunes - Viernes (8am-3pm)
        </h4>
    </div>

</div>