<div class="fondo">
  <div class="texto">
    <h1 style="padding-top: 30px">
      TRAMITA TU PERMISO DE USO DE SUELO Y LICENCIA DE FUNCIONAMIENTO
    </h1>
    <br />
    <h3>EN SOLO 24 HORAS</h3>
  </div>
  <div class="principal">
    <div class="card">
      <div class="header"></div>
      <div class="info">
        <p class="title">PROCESO DE PAGO</p>
        <p>
          Documento necesario para validar el pago de los tramites.
        </p>
      </div>
      <div class="footer">
        <p class="tag">© Moroleon</p>
        <button type="button" class="action"(click)="abrirArchivo()">Descargar
        </button>
      </div>
    </div>
    <div class="card">
      <div class="header"></div>
      <div class="info">
        <p class="title">Formato de Uso de Suelo</p>
        <p>
          A través de este trámite cualquier persona física o moral obtiene autorización para llevar a cabo actividades de bajo impacto al interior en un inmueble.
        </p>
      </div>
      <div class="footer">
        <p class="tag">© Moroleon</p>
        <button type="button" class="action" (click)="abrirArchivo3()">Descargar</button>
      </div>
    </div>
    <div class="card">
      <div class="header"></div>
      <div class="info">
        <p class="title">Cat&aacute;logo de giros</p>
        <p>
            Catologo de las distintas categorias de uso de suelo. 
        </p>
      </div>
      <div class="footer">
        <p class="tag">© Moroleon</p>
        <button type="button" class="action"(click)="abrirArchivo2()">Descargar
          <a href="../../assets/documentos/catalogo.pdf"></a>
        </button>
      </div>
    </div>
 
  </div>
</div>
