<div class="fondo">
  <div class="texto">
    <h1 style="padding-top: 30px">
      TRAMITA TU PERMISO DE USO DE SUELO Y LICENCIA DE FUNCIONAMIENTO
    </h1>
    <br />
    <h3>EN SOLO 24 HORAS</h3>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3 col-sm-6 " *ngFor="let documento of listadoVecs">
      <div class="card">
        <div class="header"></div>
        <div class="info">
          <p class="title">{{documento.titulo}}</p>
          <p>
            {{documento.informacion}}
          </p>
        </div>
        <div class="footer">
          <p class="tag">© Moroleon</p>
          <button type="button" class="action"><a target="_blank"
              [href]="convertBinaryToUrl(documento.archivoPdf)">Descargar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>