  <div class="container ocultarGrande">
    <div class="content">
      <h1>¿Qué es Vecs?</h1>
      <p>VECS del municipio de Moroleón, Gto es creada para ser el medio entre los usuarios y las dependencias involucradas en la expedición de la licencia de construcción de bajo impacto y riesgo.</p>
    </div>
    <div class="content">
      <img src="../../assets/img/About/duda1.jpg" alt="Imagen 1">
    </div>
    <div class="content oculta1">
      <img src="../../assets/img/About/duda2.jpg" alt="Imagen 2">
    </div>
    <div class="content">
      <h1>¿Cuál es el objetivo?</h1>
      <p>Establecer un proceso integral de los trámites municipales que permita la construcción de manera ágil y sencilla de una edificación de bajo impacto y riesgo en un tiempo máximo de siete días hábiles, incluido el de terminación de obra, estableciendo un marco regulatorio claro, eficiente y transparente, que genere condiciones de certidumbre y seguridad jurídica, y que fomente la inversión productiva en los diferentes grupos de actividades económicas.</p>
    </div>
    <div class="content oculta">
        <img src="../../assets/img/About/duda2.jpg" alt="Imagen 2">
      </div>
    <div class="content oculta">
        <h1>¿Cuáles son los objetivos a 7 dias?</h1>
        <p>El proceso se llevará a cabo en un total de 7 días abajo se muestra una pequeña tabla con las actividades que se realizarán cada día.
        </p>
      </div>
      <div class="content">
        <img src="../../assets/img/About/duda3.jpg" alt="Imagen 1">
      </div>
      <div class="content oculta1">
        <img src="../../assets/img/About/duda4.jpg" alt="Imagen 2">
      </div>

      <div class="content">
        <h1>Para la autorización del Permiso de Uso de Suelo, Alineamiento y Número Oficial
        </h1>
        <p>Formato Único de Construcción, debidamente requisitado y firmado por el propietario;
            Número de identificación del expediente único;
            Bitácora de obra firmada por el Director Responsable de Obra y/o Corresponsable en su caso;
            Declaración o manifestación de terminación de obra firmada por el propietario y el Director Responsable de Obra;
            Reporte fotográfico que obedezca a los requerimientos dictados por la Dirección de Desarrollo Urbano, Ordenamiento Territorial y Medio Ambiente.</p>
      </div>
      <div class="content oculta1">
        <h1>Para la autorización del Permiso de Construcción de Bajo Impacto y Riesgo</h1>
        <p>Formato Único de Construcción, debidamente requisitado y firmado por el propietario;
            Número de identificación del expediente único;
            2 (dos) tantos del Proyecto Arquitectónico de la obra en planos a escala debidamente firmados por el Director Responsable de Obra, acotados y con las especificaciones de los materiales, detalles arquitectónicos en el que deberá incluir como mínimo: Planta arquitectónica, cortes, fachadas, planta de instalaciones hidro-sanitarias, eléctricas, azoteas, cimentación, estructural y de conjunto, con firma del Director Responsable de Obra y/o Corresponsable en su caso;
            Memoria de cálculo, incluyendo memoria descriptiva y análisis sísmico, detalles estructurales, con firma del Director Responsable de Obra y/o Corresponsable en su caso
            Comprobante de pago de derechos.</p>
      </div>
      <div class="content oculta">
        <img src="../../assets/img/About/duda4.jpg" alt="Imagen 2">
      </div>
      <div class="content oculta1">
        <img src="../../assets/img/About/duda5.jpg" alt="Imagen 1">
      </div>
      <div class="content oculta1">
        <img src="../../assets/img/About/dudas.jpg" alt="Imagen 2">
      </div>
      <div class="content">
        <h1>Para la entrega del Aviso de Terminación y Ocupación de obra</h1>
        <p>Formato Único de Construcción, debidamente requisitado y firmado por el propietario;
            Número de identificación del expediente único;
            Bitácora de obra firmada por el Director Responsable de Obra y/o Corresponsable en su caso;
            Declaración o manifestación de terminación de obra firmada por el propietario y el Director Responsable de Obra;
            Reporte fotográfico que obedezca a los requerimientos dictados por la Dirección de Desarrollo Urbano, Ordenamiento Territorial y Medio Ambiente.</p>
      </div>
      <div class="content oculta">
        <img src="../../assets/img/About/duda5.jpg" alt="Imagen 1">
      </div>
      <div class="content oculta">
        <h1>Fundamentos</h1>
        <p>l Programa de Ventanilla de Construcción Simplificada (VECS) es una herramienta que permite diagnosticar y evaluar, la operación y el procedimiento que siguen los módulos municipales en los que se gestiona la Licencia de Construcción en la modalidad de bajo riesgo e impacto en construcciones hasta 1,500 m2, así como de los trámites previos y posteriores relacionados con dicha modalidad, en máximo diez días hábiles. Esto permite emitir un Certificado de Validación e identificar áreas de oportunidad para su mejora.</p>
      </div>
      <div class="content">
        <img src="../../assets/img/About/dudas6.jpg" alt="Imagen 1">
      </div>
  </div>
 