body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding-bottom: 100px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin-left: 25%;
    padding-bottom: 100px;
  }
  
  .rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
  }
  
  .rounded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .texto{
    color: #ff7e00;
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
  }
 
  .fondo{
    background-color: #A1003F;
  }
  
  /* pagina web en celular */
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    
  }
  
  .image-container {
    display: flex;
    flex-direction: column; /* Cambio a columna */
    justify-content: center; /* Alineaci칩n vertical en el centro */
    align-items: center; /* Alineaci칩n horizontal en el centro */
    width: 650px;
    margin: 0; /* Margen izquierdo reducido */
  
    }
  
  .rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px; /* Espaciado entre im치genes */

  }
  
  .rounded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto {
    color: #ff7e00;
    text-align: center;
    font-size: 30px; /* Tama침o de texto reducido */
    padding-bottom: 20px; /* Espaciado inferior reducido */
  }
  
  .fondo {
    background-color: #A1003F;
  }
}