<div class="fondo decoracion">
  <div>
    <p class="texto">NUESTRAS PAGINAS</p>
  </div>
  <div class="image-container">
    <div class="rounded-image">
      <img src="../../assets/img/paginas/team1.jpg" alt="Imagen 1" />
    </div>
    <div class="rounded-image">
      <img src="../../assets/img/paginas/team2.jpg" alt="Imagen 2" />
    </div>
    <div class="rounded-image">
      <img src="../../assets/img/paginas/team3.jpg" alt="Imagen 3" />
    </div>
    <div class="rounded-image">
      <img src="../../assets/img/paginas/team4.jpg" alt="Imagen 4" />
    </div>
  </div>
</div>
